@charset "utf-8";

@font-face {
    font-family: 'android';
    src: url(fontes/idroid.otf) format(opentype);
}
*{
    margin: 0px;
}
body{
    background-color: #84E1AD;
}

header{
    background-image: linear-gradient(to top, #195534, #3CD782);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    box-shadow: 1px 1px 12px black;
}
main{
    background-color: white;
    margin: 0 15% 12px 15% ;
    box-shadow: 1px 1px 12px black;
    border-radius: 0 0 8px 8px;
}
article{
    padding: 20px;
}
h1#nomeartigo{
    font: normal 600 1.8em 'android';
    color: #2C6847;

}
p.textoartigo{
    padding: 10px 0;
    text-align: justify;
    font-size: 1.1em;
    width: 98%;
}
h2.subartigo{
    font: normal 500 1.6em 'android';
    background-image: linear-gradient(to right, #C5EAD5, white );
    color: #2C6847;
    padding: 1px 5px;
}
.textoartigo::first-letter{
   margin-left: 2em;
}
a.clip::after{
    content: '📎';
}
#site{
    text-align: center;
    padding-top: 25px;
    color: white;
    font-size: 1.8em;
}
#slogan{
    text-align: center;
    font-size: 1.3em;
    color: white;
    margin: 10px;
    padding: 0px 100px;
    font-weight: 400;
    
}
a.menu{
   text-decoration: none;
   color: white;
   margin-left: 9px;
}
a{
    text-decoration: none;
    color: #537963;
}
#bugdroid{
    display: block;
    margin:auto;
}
#video{
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;    /* Centraliza verticalmente */
  height: 500px;          /* Define uma altura para o container, por exemplo, a altura total da viewport */
  width: 100%;            /* Define uma largura para o container */
  background-color: #1A5C38;
}
iframe{
    width: 90%;
    height: 90%;
   
}
#div-extras{
    border-radius: 8px;
    background-color: #C5EBD6;
    
}
#h1-titulo-extras{
    
    padding: 10px;
    color: white;
    font: normal 600 1.3em 'Arial, Helvetica, sans-serif ';

}
.versoes{
    display: inline-block;
    width: 200px;
    margin: 0 60px 0 0;
    padding: 0 0 0 10px;
}
.txt-extras::first-letter{
    margin-left: 2em;
}
.txt-extras{
    padding: 10px;
    text-align: justify;
    font-size: 1.1em;

}
#div-titulo-extras{
    background-color: #2FA866;
    border-radius: 8px 8px 0 0;
}
.versoes-android::before{
    content: '\002714';
}

footer{
    background-color: #1A5C38;
    text-align: center;
    color: white;
}
main a:hover{
    text-decoration: underline;
}
main a:visited{
    color:#043a1c;
}