@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
div#espaco{
    background: transparent url(imagens/espaco.jpg) center center no-repeat fixed;
    background-size: cover;
    height: 100vh;
    position: relative;
}

div#astronauta{
   
    background-image:url(imagens/astronauta.png);
    background-position: center center;
    background-size: 100% 100%;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}