@charset "utf-8";
nav{
    display: none;
}
header , header> nav{
    flex-flow: column nowrap;
}
header > h1{
    flex-basis: 50px;
    
}
header> nav > a{

    width: 90vw;
}
span.material-symbols-outlined{
    background-color: gray;
    color:white;
    display:block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    display: block;
}